body{
    padding: 10px;
    
}

#scuLogo{
    width: 120px;
    height: 120px;
    margin: auto;
}
#scuLogo img{
    width: 120px;
    height: 120px;
}
.topNav{
    padding: 10px;
    background-color: aliceblue;
     
}

.cola{
    width: 20%;
}
.colb{
    align-content: center;
    width: 80%;
}
.outer{
    display: flex;
    background-color: maroon;
    width: 800;
    height: 80;
    margin-top: 18px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
    border-style: solid;
    border-radius: 3px;
}
.inner{
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    font-weight: bold;
    font-size: 40pt;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    width: inherit;

}
   .search-container{

       width: 30%;
       
       
            }


           
.itemnav{
    width: 100%;
    
    
    text-align: center;
}


